@import "../components/xyz-table/styles.css";

body {
  font-family: "Lucida Console", Courier, monospace;
}

.xyz-table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: fit-content;
}